tharik/soap-client/src/wsdl/localhost_8080/soap-service/StudentService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://icbt/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://icbt/">

<xs:element name="addStudent" type="tns:addStudent"/>

<xs:element name="addStudentResponse" type="tns:addStudentResponse"/>

<xs:element name="authenticate" type="tns:authenticate"/>

<xs:element name="authenticateResponse" type="tns:authenticateResponse"/>

<xs:element name="deleteStudent" type="tns:deleteStudent"/>

<xs:element name="deleteStudentResponse" type="tns:deleteStudentResponse"/>

<xs:element name="getStudent" type="tns:getStudent"/>

<xs:element name="getStudentResponse" type="tns:getStudentResponse"/>

<xs:element name="getStudents" type="tns:getStudents"/>

<xs:element name="getStudentsResponse" type="tns:getStudentsResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="updateStudent" type="tns:updateStudent"/>

<xs:element name="updateStudentResponse" type="tns:updateStudentResponse"/>

<xs:complexType name="addStudent">
<xs:sequence>
<xs:element name="student" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="dob" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addStudentResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudents">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getStudentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authenticate">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authenticateResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudent">
<xs:sequence>
<xs:element name="student" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudentResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteStudent">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteStudentResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudent">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStudentResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>